/* This Validates as CSS level 3 + SVG ! */

/* CSS Specific for the Navbar of this page */
.navbar {
	font-size: 18px ;

}
.navbar li a, .navbar .navbar-brand {	
	font-size: 18px ;


}
.navbar-nav li a:hover, .navbar-nav li.active a {
	font-size: 18px ;

}
.navbar-default .navbar-toggle {
	font-size: 18px ;

}

/* CSS Specific for the Main Sign of this page */
.jumbotron{
	background:#cccccc url('../images/backgrounds/backgroundfinal.jpg') no-repeat fixed center;
	height: 100vh;
	width: 100vw;
}
.jumbotron-content{
	position: absolute !important;
	top: 45% !important;
	left: 50% !important;
}

/* CSS Specific for the Page Content of this page */
.pagecontent{
	top: 100vh;
}


