/* This Validates as CSS level 3 + SVG ! */

/* CSS Specific for the Navbar of this page */
.navbar {
	font-size: 15px ;

}
.navbar li a, .navbar .navbar-brand {
	font-size: 15px ;

}
.navbar-nav li a:hover, .navbar-nav li.active a {
	font-size: 15px ;

}
.navbar-default .navbar-toggle {
	font-size: 15px ;

}

/* CSS Specific for the Second Navbar of this page */
.navbar-second {
	min-height: 50px;
}
.navbar-second.navbar-fixed-top {
	z-index: 1;
	top: 50px;
}

/* CSS Specific for the Main Sign of this page */
.jumbotron{
	background:#cccccc url('../images/backgrounds/backgroundhtml.png') no-repeat fixed center;
	height: 100vh;
	width: 100vw;
}
.jumbotron-content{
	position: absolute !important;
	top: 45% !important;
	left: 50% !important;
}

/* CSS Specific for the Page Content of this page */
.pagecontent{
	top: 100vh;
}
.padding{
	padding:3% 1% 3% 1%;
	margin:1% 0% 1% 0%;
}


