.navbar {
	font-size: 15px ;
}

.navbar li a, .navbar .navbar-brand {
	font-size: 15px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	font-size: 15px;
}

.navbar-default .navbar-toggle {
	font-size: 15px;
}

.navbar-second {
	min-height: 50px;
}
.navbar-second.navbar-fixed-top {
	z-index: 1;
	top: 50px;
}

.jumbotron{
	background:#485460 url('../images/backgrounds/backgroundcss.png') no-repeat fixed center;
	height: 50vh;
	width: 100vw;
}
.jumbotron-content{
	position: absolute !important;
	top: 55% !important;
	left: 50% !important;

}
.pagecontent{
	top: 50vh;
}
