/* This Validates as CSS level 3 + SVG ! */


/* CSS Specific for the Navbar of this page */

.navbar {
	font-size: 15px ;
}

.navbar li a, .navbar .navbar-brand {
	font-size: 15px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	font-size: 15px;
}

.navbar-default .navbar-toggle {
	font-size: 15px;
}


/* CSS Specific for the Second Navbar of this page */

.navbar-second {
	min-height: 50px;
}
.navbar-second.navbar-fixed-top {
	z-index: 1;
	top: 50px;
}


/* CSS Specific for the Main Sign of this page */

.jumbotron{
	background:#485460 url('../images/backgrounds/backgroundhtml.png') no-repeat fixed center;
	height: 50vh;
	width: 100vw;

}
.jumbotron-content{
	position: absolute !important;
	top: 55% !important;
	left: 50% !important;

}


/* CSS Specific for the Page Content of this page */

.pagecontent{
	top: 50vh;
}
a:link.defaultlink {
	color:#0000EE !important;
	text-decoration: underline ;
}
a:visited.defaultlink {
	color:#551A8B !important;
	text-decoration: underline ;
}
a:hover.defaultlink {
	color:#0000EE !important;
	text-decoration: underline !important;
}
a:active.defaultlink {
	color:#EE0000  !important;
	text-decoration: underline !important;
}

